* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-bottom: 400px;
}

.section_wrapper {
  position: relative;
  min-height: 70vh;
  border-bottom: 1px solid black;
}

.position_fixed_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position_absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.section2 {
  /* background: #000; */
}

.wrap_full {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section2_inactive {
  text-align: center;
  color: black;
}

.section2_inactive > h1 {
  font-size: 400;
}

.section2_active {
  text-align: center;
  color: white;
  background: #000;
}

.section2_active > h1 {
  font-size: 700;
}
